{% extends "layouts/base.html" %}

{% load static %}

{% block content %}
<h1>Plants in Green Garden</h1>

{% for plant in plants %}
    <div class="plant">
        <img src="{% static 'images/plant' %}{{ plant.id }}.jpeg" alt="{{ plant.name }}">
        <h2>{{ plant.name }}</h2>
        <p>Type: {{ plant.type }}</p>
        <p>Watering Frequency: {{ plant.watering_frequency }}</p>
        <p>Sunlight Requirement: {{ plant.sunlight_requirement }}</p>
        <a href="plants/{{ plant.id }}">View Details</a>
    </div>
{% endfor %}

{% endblock content %}
