
{% extends "layouts/base.html" %}

{% block content %}
<h1>Plants in Green Garden</h1>

        <h2>Aloe Vera</h2>
        <p>Type: Succulent</p>
        <p>Watering Frequency: Weekly</p>
        <p>Sunlight Requirement: Partial</p>
        <a href="plants/1">View Details</a>

        <h2>Snake Plant</h2>
        <p>Type: Perennial</p>
        <p>Watering Frequency: Bi-weekly</p>
        <p>Sunlight Requirement: Low to Moderate</p>
        <a href="plants/2">View Details</a>
        <h2>Spider Plant</h2>
        <p>Type: Perennial</p>
        <p>Watering Frequency: Weekly</p>
        <p>Sunlight Requirement: Partial to Full</p>
        <a href="plants/3">View Details</a>


{% endblock content %} 