<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
        Green Garden Web Application  - {% block title %}{% endblock %}
    </title>

    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
    {% block stylesheets %}{% endblock stylesheets %}

    <!-- here you put your stylesheets-->
    <!-- here you put your js-->
</head>

<body>
    {% include 'includes/header.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'includes/footer.html' %}
</body>

</html>